
</div>
<script src="../public/script.js"></script>
        <a href="https://twitter.com/ae_edwardd" id="ed"><strong>A-E</strong></a>
        <p style="margin: 0">I know it's not that impressive, but still!</p>
        <a href="https://github.com/A-Edd/songArts">Source-code</a>
</body>
</html>