<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>songArts</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="icon" href="../public/favicon.png">

</head>
<body>
    <div class="container">
        <h1> <a class="heading" href="/">song-Arts</a> </h1>
        <p class="heading-desc">Generate hi-res song/album artworks!</p>
       